<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkc.xcplus.content.service.dao.TeachplanMapper">
    <resultMap id="BaseResultMap" type="com.zkc.xcplus.content.model.po.Teachplan">
        <!--@mbg.generated-->
        <!--@Table teachplan-->
        <id column="id" property="id"/>
        <result column="pname" property="pname"/>
        <result column="parentid" property="parentid"/>
        <result column="grade" property="grade"/>
        <result column="media_type" property="mediaType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="description" property="description"/>
        <result column="timelength" property="timelength"/>
        <result column="orderby" property="orderby"/>
        <result column="course_id" property="courseId"/>
        <result column="course_pub_id" property="coursePubId"/>
        <result column="status" property="status"/>
        <result column="is_preview" property="isPreview"/>
        <result column="create_date" property="createDate"/>
        <result column="change_date" property="changeDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        pname,
        parentid,
        grade,
        media_type,
        start_time,
        end_time,
        description,
        timelength,
        orderby,
        course_id,
        course_pub_id,
        `status`,
        is_preview,
        create_date,
        change_date
    </sql>

    <resultMap id="getTreeNodesMap" type="com.zkc.xcplus.content.model.dto.TeachPlanDto">
        <id column="parent_id" property="id"/>
        <result column="parent_pname" property="pname"/>
        <result column="parent_parentid" property="parentid"/>
        <result column="parent_grade" property="grade"/>
        <result column="parent_mediaType" property="mediaType"/>
        <result column="parent_startTime" property="startTime"/>
        <result column="parent_endTime" property="endTime"/>
        <result column="parent_orderby" property="orderby"/>
        <result column="parent_courseId" property="courseId"/>
        <result column="parent_coursePubId" property="coursePubId"/>
        <!--        一级节点不绑定媒资-->
        <!--        <association property="teachplanMedia" javaType="com.zkc.xcplus.content.model.po.TeachplanMedia">-->
        <!--            <result column="mediaRelation_Id" property="id"/>-->
        <!--            <result column="mediaRelation_mediaId" property="mediaId"/>-->
        <!--            <result column="mediaRelation_mediaFileName" property="mediaFilename"/>-->
        <!--        </association>-->
        <collection property="childTreeNodes" ofType="com.zkc.xcplus.content.model.dto.TeachPlanDto">
            <id column="child_id" property="id"/>
            <result column="child_pname" property="pname"/>
            <result column="child_parentid" property="parentid"/>
            <result column="child_grade" property="grade"/>
            <result column="child_mediaType" property="mediaType"/>
            <result column="child_startTime" property="startTime"/>
            <result column="child_endTime" property="endTime"/>
            <result column="child_orderby" property="orderby"/>
            <result column="child_courseId" property="courseId"/>
            <result column="child_coursePubId" property="coursePubId"/>
            <association property="teachplanMedia" javaType="com.zkc.xcplus.content.model.po.TeachplanMedia">
                <result column="mediaRelation_Id" property="id"/>
                <result column="mediaRelation_mediaId" property="mediaId"/>
                <result column="mediaRelation_mediaFileName" property="mediaFilename"/>
            </association>
        </collection>
    </resultMap>

    <select id="getTreeNodes" parameterType="long" resultMap="getTreeNodesMap">
        select parent.id                    as parent_id,
               parent.pname                 as parent_pname,
               parent.parentid              as parent_parentid,
               parent.grade                 as parent_grade,
               parent.media_type            as parent_mediaType,
               parent.start_time            as parent_startTime,
               parent.end_time              as parent_endTime,
               parent.orderby               as parent_orderby,
               parent.course_id             as parent_courseId,
               parent.course_pub_id         as parent_coursePubId,
               child.id                     as child_id,
               child.pname                  as child_pname,
               child.parentid               as child_parentid,
               child.grade                  as child_grade,
               child.media_type             as child_mediaType,
               child.start_time             as child_startTime,
               child.end_time               as child_endTime,
               child.orderby                as child_orderby,
               child.course_id              as child_courseId,
               child.course_pub_id          as child_coursePubId,
               mediaRelation.id             as mediaRelation_Id,
               mediaRelation.media_id       as mediaRelation_mediaId,
               mediaRelation.media_fileName as mediaRelation_mediaFileName
        from teachplan            as parent
        left join teachplan       as child on child.parentid = parent.id
        left join teachplan_media as mediaRelation on mediaRelation.teachplan_id = child.id
        where parent.parentid = 0
          and parent.course_id = #{courseId}
        order by parent.orderby, child.orderby;
    </select>
</mapper>